@import "../../assets/Variables/Variables.scss";

.custom-select {
  position: relative;
  min-width: 130px;
  width: 100%;
}

.select-header {
  border-bottom: 1px solid #414848;
  border-radius: 0px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.5s ease-in-out;
  label {
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    font-family: $secondary-font;
    font-size: 12px;
    line-height: 0.7px;
    color: $dark-color;
    font-weight: 400;
  }
}
.default-filter {
  label {
    margin-left: unset !important;
  }
}

.arrow {
  transition: transform 0.5s ease-in-out;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  color: $green-color;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  font-family: $secondary-font;
  font-size: 14px;
  color: $dark-color;
  font-weight: 400;
}

.custom-select.open .options {
  opacity: 1;
  pointer-events: auto;
  max-height: 250px;
  overflow: auto;
}
.custom-select.open .options::-webkit-scrollbar {
  width: 10px;
}

.custom-select.open .options::-webkit-scrollbar-thumb {
  background-color: $green-color;
  border-radius: 4px;
}

.custom-select.open .options::-webkit-scrollbar-track {
  background-color: $light-color;
}

.option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.option:hover {
  background-color: rgba(79, 144, 152, 80%);
  color: $light-color;
}

.option.selected {
  background-color: $green-color;
  color: $light-color;
}

@media (max-width: 1715px) {
  .custom-select {
    min-width: 105px;
  }

  .select-header {
    padding-bottom: 4px;
    label {
      font-size: 11px;
    }
  }

  .options {
    font-size: 11px;
  }

  .option {
    padding: 4px;
  }
}

@media (max-width: 1400px) {
  .custom-select {
    min-width: 70px;
  }

  .select-header {
    padding-bottom: 2px;
    label {
      font-size: 9px;
    }
  }

  .options {
    font-size: 8px;
  }

  .option {
    padding: 2px;
  }
}
