@import "../../assets/Variables/Variables.scss";

.filter-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  p {
    font-family: $primary-font;
    font-size: 13px;
    line-height: 31px;
    font-weight: 500;
    color: $dark-color;
    white-space: nowrap;
    span {
      color: #d53434;
      margin-left: 10px;
    }
  }
}
.default {
  display: grid;
  p {
    font-family: $secondary-font;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: $dark-color;
    span {
      color: #d53434;
      margin-left: 10px;
    }
  }
}

@media (max-width: 1715px) {
  .filter-wrapper {
    gap: 10px;
    p {
      font-size: 10px;
    }
  }
}

@media (max-width: 1400px) {
  .filter-wrapper {
    gap: 5px;
    p {
      font-size: 10px;
    }
  }
}
