.filter-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  p {
    font-family: var(--primary-font);
    font-size: 13px;
    line-height: 31px;
    font-weight: 500;
    color: var(--dark-color);
    white-space: nowrap;
  }
}

@media (max-width: 1715px) {
  .filter-wrapper {
    gap: 10px;
    p {
      font-size: 10px;
    }
  }
}

@media (max-width: 1400px) {
  .filter-wrapper {
    gap: 5px;
    p {
      font-size: 10px;
    }
  }
}
