@import "../../../../assets/Variables/Variables.scss";

.nav-item {
  height: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.collection-nav {
  position: relative;

  img {
    margin-left: auto;
    height: 100%;
  }
  div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
  }

  p {
    font-size: 14px;
  }
  h3 {
    margin-top: 5px;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .collection-nav {
    div {
      padding-left: 15px !important;
    }

    p {
      font-size: 10px !important;
    }
    h3 {
      font-size: 12px !important;
    }
  }
}
