// * Font Family

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Poppins", sans-serif;

// - Colors

$dark-color: #35363a;
$light-color: #dddddd;
$orange-color: #f19942;
$green-color: #4f9098;

// + Break points

$xxxl: 1920px;
$xxl: 1715px;
$xl: 1400px;
$lg: 1280px;
