.confirm-construct-wrapper {
  padding: 44.4px 0 0 65.4px;
  width: 100%;
}
.confirm-construct-wrapper .top-wrapper .products-header-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #35363a;
}
.confirm-construct-wrapper .confirm-construct-top-box {
  display: none;
}
.confirm-construct-wrapper .content-data-wrapper {
  padding-top: 60px;
  padding-left: 95px;
  width: 100%;
}
.confirm-construct-wrapper .content-data-wrapper .mobile-vote-image {
  display: none;
}
.confirm-construct-wrapper .content-data-wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
  color: #35363a;
}
.confirm-construct-wrapper .content-data-wrapper p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: #35363a;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper {
  margin-top: 115px;
  background-color: #e4e9ea;
  width: 100%;
  padding-top: 83px;
  padding-bottom: 41px;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .left-form {
  position: relative;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .left-form img {
  position: absolute;
  width: 360px;
  top: -154px;
  left: 10px;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .inside-left-form {
  display: none;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form {
  width: 608.76px;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row {
  display: flex;
  gap: 5px;
  margin-bottom: 28px;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 40px;
  font-weight: 500;
  color: #35363a;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row .social-text {
  white-space: nowrap;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #35363a;
  outline: none;
  background-color: transparent;
  padding: 5px;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description {
  display: flex;
  gap: 36px;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description .description-text-wrapper p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #35363a;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description .description-text-wrapper span {
  font-family: "Montserrat", sans-serif;
  font-size: 9px;
  font-weight: 500;
  color: #35363a;
}
.confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description textarea {
  flex: 1;
  border: none;
  outline: none;
  background-color: #dddddd;
  padding: 5px;
  color: #61626a;
  font-family: "Montserrat", sans-serif;
}
.confirm-construct-wrapper .content-data-wrapper .vote-footer {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper {
  background-color: #4f9098;
  width: 320px;
  height: 138px;
  display: grid;
  align-content: center;
  padding-left: 43px;
  margin-top: 19px;
  margin-left: auto;
}
.confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
}
.confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper h3 img {
  margin-left: 43px;
}
.confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin-top: 14px;
}
.confirm-construct-wrapper .content-data-wrapper .vote-footer .construct-back-wrapper {
  margin-top: auto;
  margin-left: 20px;
}

@media (max-width: 1715px) {
  .confirm-construct-wrapper {
    padding: 28px 28px;
    padding-bottom: 0;
  }
  .confirm-construct-wrapper .top-wrapper .products-header-text p {
    font-size: 16px;
    line-height: 22px;
  }
  .confirm-construct-wrapper .content-data-wrapper {
    padding-top: 40px;
  }
  .confirm-construct-wrapper .content-data-wrapper h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .left-form img {
    width: 300px;
    top: -115px;
    left: -3px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper {
    padding-right: 20px;
    margin-left: 285px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form {
    width: 100%;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row p {
    font-size: 14px;
    line-height: 35px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description .description-text-wrapper p {
    font-size: 14px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper {
    width: 290px;
    height: 115px;
    padding-left: 43px;
    margin-top: 10px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper h3 {
    font-size: 20px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper p {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .confirm-construct-wrapper {
    padding: 20px 0 0 15px;
  }
  .confirm-construct-wrapper .content-data-wrapper {
    padding-top: 25px;
    padding-left: 70px;
  }
  .confirm-construct-wrapper .content-data-wrapper h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper {
    padding-top: 20px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .left-form img {
    width: 240px;
    top: -65px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper {
    margin-left: 225px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row p {
    font-size: 11px;
    line-height: 30px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description .description-text-wrapper p {
    font-size: 12px;
    line-height: 18px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description .description-text-wrapper span {
    font-size: 7px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper {
    width: 240px;
    height: 96px;
    padding-left: 27px;
    margin-top: 9px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper h3 {
    font-size: 17px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .confirm-construct-wrapper {
    padding: 0 0 90px 0;
  }
  .confirm-construct-wrapper .top-wrapper {
    display: none;
  }
  .confirm-construct-wrapper .confirm-construct-top-box {
    display: flex;
    height: 72px;
    width: 100%;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .nav-item {
    width: 100%;
    height: 72px;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .collection-nav {
    position: relative;
    overflow: hidden;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .collection-nav p {
    font-size: 10px !important;
    font-weight: 400;
    line-height: 14px;
    font-family: "Montserrat", sans-serif;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .collection-nav img {
    margin: auto;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .collection-nav div {
    padding: 0 14px 0 8px;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .collection-nav:nth-child(1) {
    margin-top: auto;
    background-color: var(--primary-color);
  }
  .confirm-construct-wrapper .confirm-construct-top-box .collection-nav:nth-child(2) {
    background-color: #254549;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .collection-nav:nth-child(3) {
    background-color: #254549;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .active-right-nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: rgba(241, 153, 66, 0.7);
    animation: flipAnimation 0.9s forwards;
  }
  .confirm-construct-wrapper .confirm-construct-top-box .de-active-right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 153, 66, 0.7);
    animation: flipLeft 0.9s forwards;
  }
  @keyframes flipAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes flipLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .confirm-construct-wrapper .content-data-wrapper {
    margin-top: 24px;
    padding: 0px;
  }
  .confirm-construct-wrapper .content-data-wrapper .mobile-vote-image {
    display: block;
    width: 190px;
    margin: 0 auto;
  }
  .confirm-construct-wrapper .content-data-wrapper .mobile-vote-image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: auto;
  }
  .confirm-construct-wrapper .content-data-wrapper h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  .confirm-construct-wrapper .content-data-wrapper p {
    font-size: 14.09px;
    line-height: 24px;
    font-weight: 400;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper {
    margin-top: 1.5rem;
    padding: 24px 16px 16px;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .left-form {
    display: none;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .left-form img {
    width: 190px;
    top: 0;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper {
    margin: 0;
    padding: 0;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .inside-left-form {
    display: block;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .inside-left-form img {
    width: 190px;
    top: 0;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row {
    margin-bottom: 24px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row p {
    font-size: 16px;
    line-height: 24px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row .project-section {
    display: flex;
    gap: 5px;
    margin-top: 24px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-row .project-section p {
    font-size: 16px;
    line-height: 24px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-second {
    display: flex;
    flex-wrap: wrap;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description {
    gap: 15px;
    flex-direction: column;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description .description-text-wrapper p {
    font-size: 16px;
    line-height: 24px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description .description-text-wrapper span {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vot-form-wrapper .right-content-wrapper .right-form .project-description textarea {
    font-size: 14px;
    line-height: 24px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer {
    display: none;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper {
    align-content: center;
    width: 140px;
    height: 60px;
    padding: 0 5px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper h3 {
    font-size: 12px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper h3 img {
    margin-left: 10px;
    width: 42px;
  }
  .confirm-construct-wrapper .content-data-wrapper .vote-footer .to-vote-wrapper p {
    font-size: 8px;
    margin-top: 0px;
  }
  .footer-vote-wrapper {
    background-color: #4f9098;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 96px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .footer-vote-wrapper h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
  }
  .footer-vote-wrapper h3 img {
    margin-left: 20px;
  }
  .footer-vote-wrapper p {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 1px;
  }
}/*# sourceMappingURL=ConfirmConstruct.css.map */