.create-wrapper {
  padding: 44.4px 0 0 65.4px;

  .top-wrapper {
    .products-header-text {
      p {
        font-family: var(--primary-font);
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        color: var(--dark-color);
      }
    }
  }
  .creater-box {
    margin-top: 72px;

    .create-text-image {
      position: relative;
      display: inline-block;
      h1 {
        font-family: var(--secondary-font);
        font-size: 370px;
        font-weight: 500;
        color: #c83640;
      }

      img {
        position: absolute;
        top: -11%;
        right: 113px;
        width: 600px;
      }
    }

    .description-wrapper {
      p {
        font-family: var(--primary-font);
        font-size: 17px;
        line-height: 32px;
        color: var(--dark-color);
        font-weight: 400;
        max-width: 584px;
      }
      .description-btns {
        display: flex;
        margin-top: 30px;
      }
      button {
        width: 251px;
        height: 65px;
        color: #fff;
        background-color: var(--orange-color);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
        }
      }
      .view-btn {
        width: 251px;
        height: 65px;
        color: var(--dark-color);
        white-space: nowrap;
        background-color: unset;
        border: none;
        display: flex;
        gap: 41.9px;
        align-items: center;
        justify-content: space-between;
        padding-left: 19.6px;
        padding-right: 10.5px;
      }
    }
  }
}

@media (max-width: 1920px) {
  .create-wrapper {
    padding: 28px 28px;
    padding-bottom: 0;
    .top-wrapper {
      .products-header-text {
        p {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    .creater-box {
      margin-top: 162px;
      .create-text-image {
        h1 {
          font-size: 300px;
          line-height: 342px;
          letter-spacing: 20px;
        }

        img {
          top: -36%;
          right: 145px;
          width: 480px;
        }
      }
      .description-wrapper {
        .description-btns {
          margin-top: 40px;
        }
      }
    }
  }
}

@media (max-width: 1715px) {
  .create-wrapper {
    .creater-box {
      margin-top: 152px;
      .create-text-image {
        h1 {
          font-size: 340px;
          line-height: 302px;
        }
        img {
          top: -45%;
          right: 190px;
          width: 490px;
        }
      }
    }
  }
}
@media (max-width: 1539px) {
  .create-wrapper {
    .creater-box {
      margin-top: 102px;
      .create-text-image {
        h1 {
          font-size: 290px;
          line-height: 302px;
        }
        img {
          top: -35%;
          right: 160px;
          width: 435px;
        }
      }
      .description-wrapper {
        p {
          font-size: 14px;
          line-height: 23px;
          max-width: 489px;
        }
        .description-btns {
          margin-top: 20px;
        }
        button {
          width: 155px;
          height: 45px;
        }
        .view-btn {
          width: 155px;
          height: 45px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .create-wrapper {
    .creater-box {
      margin-top: 80px;
      .create-text-image {
        h1 {
          font-size: 252px;
          line-height: 282px;
        }
        img {
          top: -26%;
          right: 150px;
          width: 370px;
        }
      }
      .description-wrapper {
        p {
          font-size: 14px;
          line-height: 23px;
          max-width: 489px;
        }
        .description-btns {
          margin-top: 20px;
        }
        button {
          width: 155px;
          height: 45px;
        }
        .view-btn {
          width: 155px;
          height: 45px;
        }
      }
    }
  }
}
