@import "../../assets/Variables/Variables.scss";

.navbar-container {
  height: 100vh;
  white-space: nowrap;
  font-family: $primary-font;
  position: sticky;
  top: 0;
  left: 0;

  .leftbar {
    height: 100%;
    display: flex;

    .leftbar-1 {
      height: 100%;
      width: 160px;
      border-right: 2px solid var(--primary-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      > div:first-child {
        margin-top: 54px;
        cursor: pointer;
      }
      > div:last-child {
        margin-bottom: 40px;
      }

      .dot-icons-list {
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          width: 11px;
          height: 11px;
          border: 1px solid black;
          border-radius: 50%;
          box-sizing: border-box;
          cursor: pointer;
        }
        .active-circle {
          width: 11px;
          height: 11px;
          border: 1px solid $dark-color;
          border-radius: 50%;
          background-color: $dark-color;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }

    @keyframes openLeftbar {
      0% {
        width: 0;
        opacity: 0;
      }
      100% {
        width: 270px;
      }
    }
    @keyframes closeLeftbar {
      0% {
        width: 270px;
      }
      100% {
        width: 0;
        opacity: 0;
      }
    }

    .leftbar-2 {
      background-color: var(--primary-color);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 57px 0px;

      h3 {
        margin-left: 45px;
        font-size: 20px;
        font-weight: 500;
      }

      .primary-menu-options {
        .favourites-icon {
          position: relative;
          span {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 8px;
          }
        }
      }

      .creative-user-options {
        h4 {
          margin-left: 45px;
          margin-bottom: 34px;
          font-size: 16px;
          font-weight: 400;
        }
      }

      .we-are-online {
        margin-left: 45px;
        h4 {
          margin-bottom: 34px;
          font-size: 16px;
          font-weight: 400;
        }

        .steps {
          width: 133px;
          display: flex;
          justify-content: space-between;

          p {
            font-size: 12px;
            font-weight: 600;
            width: 25px;
            height: 25px;
            border: 2px solid white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 37px;
        li {
          position: relative;
          font-size: 20px;
          cursor: pointer;

          .active {
            position: absolute;
            left: 0;
            width: 75px;
            border: 1px solid white;
            top: 50%;
            transition: border 0.5s ease-out;
          }
          .de-active {
          }
        }
        li:hover {
          font-weight: 600;
        }
      }
    }

    .leftbar-2-open {
      animation: openLeftbar 0.3s linear forwards;
    }
    .leftbar-2-close {
      animation: closeLeftbar 0.3s linear forwards;
      overflow: hidden;
    }
  }

  .rightbar {
    height: 100%;
    width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    .nav-item {
      height: 143px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
    }

    .store-nav:nth-child(1) {
      background-color: #35363a;
      gap: 20px;
      img {
        width: 35px;
        height: 36px;
      }
      p {
        font-size: 19px;
      }
    }
    .store-nav:nth-child(2) {
      background-color: var(--primary-color);
      gap: 20px;
      img {
        width: 41px;
        height: 38px;
      }
      p {
        font-size: 14px;
      }
      h3 {
        margin-top: 5px;
        font-size: 22px;
      }
    }

    .collection-nav {
      position: relative;

      img {
        margin-left: auto;
        height: 100%;
      }
      div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 35px;
      }

      p {
        font-size: 14px;
      }
      h3 {
        margin-top: 5px;
        font-size: 22px;
      }
    }
    .collection-nav:nth-child(3) {
      margin-top: auto;
      background-color: var(--primary-color);

      div {
        background-color: rgba(241, 153, 66, 0.7);
      }
    }
    .collection-nav:nth-child(4) {
      background-color: #254549;

      div {
        background-color: rgba(64, 69, 73, 0.7);
      }
    }
    .collection-nav:nth-child(5) {
      background-color: #254549;

      div {
        background-color: rgba(53, 54, 58, 0.7);
      }
    }
  }
}

@media (max-width: 1715px) {
  .navbar-container {
    .leftbar {
      .leftbar-1 {
        width: 100px;
        > div:first-child {
          img {
            width: 20px;
          }
        }
        > div:last-child {
        }

        .dot-icons-list {
          height: 145px;
          div {
          }
        }
      }

      @keyframes openLeftbar {
        0% {
          width: 0;
          opacity: 0;
        }
        100% {
          width: 200px;
        }
      }
      @keyframes closeLeftbar {
        0% {
          width: 200px;
        }
        100% {
          width: 0;
          opacity: 0;
        }
      }

      .leftbar-2 {
        // padding-right: 15px;
        h3 {
          margin-left: 30px;
          font-size: 17px;
        }

        .primary-menu-options {
          .favourites-icon {
            span {
            }
          }
        }

        .creative-user-options {
          h4 {
          }
        }

        .we-are-online {
          margin-left: 45px;
          h4 {
          }

          .steps {
            p {
            }
          }
        }

        ul {
          row-gap: 20px;
          li {
            font-size: 14px;
            div {
              width: 40px;
            }
            .menuItem-text {
              margin-left: 45px !important;
            }
          }
          li:hover {
          }
        }
      }

      .leftbar-2-open {
      }
      .leftbar-2-close {
      }
    }

    .rightbar {
      width: 240px;
      .nav-item {
        height: 105px;
      }

      .store-nav:nth-child(1) {
        img {
          width: 25px;
          height: 25px;
        }
        p {
          font-size: 15px;
        }
      }
      .store-nav:nth-child(2) {
        img {
          width: 25px;
          height: 25px;
        }
        p {
          font-size: 13px;
        }
        h3 {
          font-size: 14px;
        }
      }

      .collection-nav {
        img {
        }
        div {
        }

        p {
          font-size: 12px;
        }
        h3 {
          font-size: 16px;
        }
      }
      .collection-nav:nth-child(3) {
        div {
        }
      }
      .collection-nav:nth-child(4) {
        div {
        }
      }
      .collection-nav:nth-child(5) {
        div {
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .navbar-container {
    .leftbar {
      .leftbar-1 {
        > div:first-child {
        }
        > div:last-child {
        }

        .dot-icons-list {
          div {
          }
        }
      }

      .leftbar-2 {
        h3 {
        }

        .primary-menu-options {
          .favourites-icon {
            span {
            }
          }
        }

        .creative-user-options {
          h4 {
          }
        }

        .we-are-online {
          h4 {
          }

          .steps {
            p {
            }
          }
        }

        ul {
          li {
            div {
            }
          }
          li:hover {
          }
        }
      }

      .leftbar-2-open {
      }
      .leftbar-2-close {
      }
    }

    .rightbar {
      .nav-item {
      }

      .store-nav:nth-child(1) {
        img {
        }
        p {
        }
      }
      .store-nav:nth-child(2) {
        img {
        }
        p {
        }
        h3 {
        }
      }

      .collection-nav {
        img {
        }
        div {
        }

        p {
        }
        h3 {
        }
      }
      .collection-nav:nth-child(3) {
        div {
        }
      }
      .collection-nav:nth-child(4) {
        div {
        }
      }
      .collection-nav:nth-child(5) {
        div {
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .navbar-container {
    .leftbar {
      .leftbar-1 {
        > div:first-child {
        }
        > div:last-child {
        }

        .dot-icons-list {
          div {
          }
        }
      }

      .leftbar-2 {
        h3 {
        }

        .primary-menu-options {
          .favourites-icon {
            span {
            }
          }
        }

        .creative-user-options {
          h4 {
          }
        }

        .we-are-online {
          h4 {
          }

          .steps {
            p {
            }
          }
        }

        ul {
          li {
            div {
            }
          }
          li:hover {
          }
        }
      }

      .leftbar-2-open {
      }
      .leftbar-2-close {
      }
    }

    .rightbar {
      .nav-item {
      }

      .store-nav:nth-child(1) {
        img {
        }
        p {
        }
      }
      .store-nav:nth-child(2) {
        img {
        }
        p {
        }
        h3 {
        }
      }

      .collection-nav {
        img {
        }
        div {
        }

        p {
        }
        h3 {
        }
      }
      .collection-nav:nth-child(3) {
        div {
        }
      }
      .collection-nav:nth-child(4) {
        div {
        }
      }
      .collection-nav:nth-child(5) {
        div {
        }
      }
    }
  }
}
