@import "../../assets/Variables/Variables.scss";

.navbar-container {
  height: 100vh;
  white-space: nowrap;
  font-family: $primary-font;
  position: sticky;
  top: 0;
  left: 0;

  .leftbar {
    height: 100%;
    display: flex;

    .leftbar-1 {
      height: 100%;
      width: 160px;
      border-right: 2px solid var(--primary-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .middle-left {
        position: relative;
        .left-menu-wrapper {
          display: grid;
          .menu-option-box {
            width: 156px;
            height: 140px;
            background: $green-color;
            display: grid;
            align-content: center;
            justify-content: center;
            color: #fff;
            text-align: center;
            border: 1px solid white;
            cursor: pointer;
            p {
              font-size: 22px;
              line-height: 30px;
            }
            span {
              font-size: 14px;
              line-height: 30px;
            }
          }
          .active-menu {
            background-color: $orange-color;
          }
        }
        .left-sub-men {
          position: absolute;
          width: 156px;
          height: 624px;
          background-color: $orange-color;
          left: 161px;
          top: -73px;
          display: grid;
          gap: 20px;
          align-content: center;
          padding: 20px;
          .sub-name {
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            border-bottom: 1px solid transparent;
            cursor: pointer;
          }
          .sub-name:hover {
            border-bottom: 1px solid #fff;
            transition: border 0.2s ease-in;
          }
        }
      }

      > div:first-child {
        margin-top: 54px;
        cursor: pointer;
      }
      > div:last-child {
        margin-bottom: 40px;
      }

      .dot-icons-list {
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          width: 11px;
          height: 11px;
          border: 1px solid black;
          border-radius: 50%;
          box-sizing: border-box;
          cursor: pointer;
        }
        .active-circle {
          width: 11px;
          height: 11px;
          border: 1px solid $dark-color;
          border-radius: 50%;
          background-color: $dark-color;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }

    @keyframes openLeftbar {
      0% {
        width: 0;
        opacity: 0;
      }
      100% {
        width: 270px;
      }
    }
    @keyframes closeLeftbar {
      0% {
        width: 270px;
      }
      100% {
        width: 0;
        opacity: 0;
      }
    }

    .leftbar-2 {
      background-color: var(--primary-color);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 57px 0px;
      ul {
        li {
          div {
          }
          .menuItem-text {
            margin-left: 45px; /* Default margin */
          }

          .menuItem-text.isActive {
            margin-left: 95px; /* Applied when isActive is true */
          }
        }
        li:hover {
        }
      }
      .x-btn {
        display: none;
      }
      h3 {
        margin-left: 45px;
        font-size: 20px;
        font-weight: 500;
      }

      .primary-menu-options {
        .favourites-icon {
          position: relative;
          span {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 8px;
          }
        }
      }

      .creative-user-options {
        h4 {
          margin-left: 45px;
          margin-bottom: 34px;
          font-size: 16px;
          font-weight: 400;
        }
      }

      .we-are-online {
        margin-left: 45px;
        h4 {
          margin-bottom: 34px;
          font-size: 16px;
          font-weight: 400;
        }

        .steps {
          width: 133px;
          display: flex;
          justify-content: space-between;

          p {
            font-size: 12px;
            font-weight: 600;
            width: 25px;
            height: 25px;
            border: 2px solid white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 37px;
        li {
          position: relative;
          font-size: 20px;
          cursor: pointer;

          .active {
            position: absolute;
            left: 0;
            width: 75px;
            border: 1px solid white;
            top: 50%;
            transition: border 0.5s ease-out;
          }
          .de-active {
          }
        }
        li:hover {
          font-weight: 600;
        }
      }
      button {
        width: 180px;
        height: 55px;
        color: #fff;
        background-color: #f19942;
        border: none;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
      }
    }
    .noflex {
      justify-content: unset;
      gap: 58px;
    }

    .leftbar-2-open {
      animation: openLeftbar 0.3s linear forwards;
    }
    .leftbar-2-close {
      animation: closeLeftbar 0.3s linear forwards;
      overflow: hidden;
    }
  }

  .rightbar {
    height: 100%;
    width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    .nav-item {
      height: 143px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
    }

    .store-nav:nth-child(1) {
      background-color: #35363a;
      gap: 20px;
      img {
        width: 35px;
        height: 36px;
      }
      p {
        font-size: 19px;
      }
    }
    .store-nav:nth-child(2) {
      background-color: var(--primary-color);
      gap: 20px;
      img {
        width: 41px;
        height: 38px;
      }
      p {
        font-size: 14px;
      }
      h3 {
        margin-top: 5px;
        font-size: 22px;
      }
    }

    .collection-nav {
      position: relative;
      overflow: hidden;

      img {
        margin-left: auto;
        height: 100%;
      }

      p {
        font-size: 14px;
      }
      h3 {
        margin-top: 5px;
        font-size: 22px;
      }
    }

    .collection-nav:nth-child(3) {
      margin-top: auto;
      background-color: var(--primary-color);
    }
    .collection-nav:nth-child(4) {
      background-color: #254549;
    }
    .collection-nav:nth-child(5) {
      background-color: #254549;
    }

    .active-right-nav::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-color: rgba(241, 153, 66, 0.7);
      animation: flipAnimation 0.9s forwards;
    }
    .de-active-right::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(241, 153, 66, 0.7);
      animation: flipLeft 0.9s forwards;
    }
    @keyframes flipAnimation {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes flipLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }
}

@media (max-width: 1715px) {
  .navbar-container {
    .leftbar {
      .leftbar-1 {
        width: 100px;
        .middle-left {
          position: relative;
          .left-menu-wrapper {
            display: grid;
            .menu-option-box {
              width: 98px;
              height: 90px;
              p {
                font-size: 15px;
                line-height: 10px;
              }
              span {
                font-size: 11px;
                line-height: 20px;
              }
            }
          }
          .left-sub-men {
            height: 424px;
            left: 101px;
            top: -65px;
            gap: 15px;
            padding: 20px;
            .sub-name {
              font-size: 15px;
              line-height: 22px;
              color: #fff;
            }
          }
        }
        > div:first-child {
          img {
            width: 20px;
          }
        }
        > div:last-child {
        }

        .dot-icons-list {
          height: 145px;
          div {
          }
        }
      }

      @keyframes openLeftbar {
        0% {
          width: 0;
          opacity: 0;
        }
        100% {
          width: 200px;
        }
      }
      @keyframes closeLeftbar {
        0% {
          width: 200px;
        }
        100% {
          width: 0;
          opacity: 0;
        }
      }

      .leftbar-2 {
        h3 {
          margin-left: 30px;
          font-size: 17px;
        }

        .primary-menu-options {
          .favourites-icon {
            span {
            }
          }
        }

        .creative-user-options {
          h4 {
          }
        }

        .we-are-online {
          margin-left: 45px;
          h4 {
          }

          .steps {
            p {
            }
          }
        }

        ul {
          row-gap: 20px;
          li {
            font-size: 14px;
            .active {
              width: 55px;
            }
            .de-active {
            }
            div {
              width: 40px;
            }
            .menuItem-text {
              margin-left: 45px; /* Default margin */
            }

            .menuItem-text.isActive {
              margin-left: 60px; /* Applied when isActive is true */
            }
          }
          li:hover {
          }
        }
      }

      .leftbar-2-open {
      }
      .leftbar-2-close {
      }
    }

    .rightbar {
      width: 240px;
      .nav-item {
        height: 105px;
      }

      .store-nav:nth-child(1) {
        img {
          width: 25px;
          height: 25px;
        }
        p {
          font-size: 15px;
        }
      }
      .store-nav:nth-child(2) {
        img {
          width: 25px;
          height: 25px;
        }
        p {
          font-size: 13px;
        }
        h3 {
          font-size: 14px;
        }
      }

      .collection-nav {
        img {
        }
        div {
        }

        p {
          font-size: 12px;
        }
        h3 {
          font-size: 16px;
        }
      }
      .collection-nav:nth-child(3) {
        div {
        }
      }
      .collection-nav:nth-child(4) {
        div {
        }
      }
      .collection-nav:nth-child(5) {
        div {
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .navbar-container {
    .leftbar {
      .leftbar-1 {
        > div:first-child {
        }
        > div:last-child {
        }

        .dot-icons-list {
          div {
          }
        }
      }

      .leftbar-2 {
        h3 {
        }

        .primary-menu-options {
          .favourites-icon {
            span {
            }
          }
        }

        .creative-user-options {
          h4 {
          }
        }

        .we-are-online {
          h4 {
          }

          .steps {
            p {
            }
          }
        }

        ul {
          li {
            div {
            }
          }
          li:hover {
          }
        }
      }

      .leftbar-2-open {
      }
      .leftbar-2-close {
      }
    }

    .rightbar {
      .nav-item {
      }

      .store-nav:nth-child(1) {
        img {
        }
        p {
        }
      }
      .store-nav:nth-child(2) {
        img {
        }
        p {
        }
        h3 {
        }
      }

      .collection-nav {
        img {
        }
        div {
        }

        p {
        }
        h3 {
        }
      }
      .collection-nav:nth-child(3) {
        div {
        }
      }
      .collection-nav:nth-child(4) {
        div {
        }
      }
      .collection-nav:nth-child(5) {
        div {
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .navbar-container {
    .leftbar {
      .leftbar-1 {
        > div:first-child {
        }
        > div:last-child {
        }

        .dot-icons-list {
          div {
          }
        }
      }

      .leftbar-2 {
        h3 {
        }

        .primary-menu-options {
          .favourites-icon {
            span {
            }
          }
        }

        .creative-user-options {
          h4 {
          }
        }

        .we-are-online {
          h4 {
          }

          .steps {
            p {
            }
          }
        }

        ul {
          li {
            div {
            }
          }
          li:hover {
          }
        }
      }

      .leftbar-2-open {
      }
      .leftbar-2-close {
      }
    }

    .rightbar {
      .nav-item {
      }

      .store-nav:nth-child(1) {
        img {
        }
        p {
        }
      }
      .store-nav:nth-child(2) {
        img {
        }
        p {
        }
        h3 {
        }
      }

      .collection-nav {
        img {
        }
        div {
        }

        p {
        }
        h3 {
        }
      }
      .collection-nav:nth-child(3) {
        div {
        }
      }
      .collection-nav:nth-child(4) {
        div {
        }
      }
      .collection-nav:nth-child(5) {
        div {
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
    height: 72px;
    font-family: $primary-font;
    position: relative;

    .leftbar {
      display: flex;
      justify-content: space-between;
      .leftbar-1 {
        display: none;
        .middle-left {
          position: relative;
        }
      }

      @keyframes openLeftbar {
        0% {
          width: 0;
          opacity: 0;
        }
        100% {
          width: 310px;
        }
      }
      @keyframes closeLeftbar {
        0% {
          width: 310px;
        }
        100% {
          width: 0;
          opacity: 0;
        }
      }

      .leftbar-2 {
        position: absolute;
        height: 100vh;
        padding: 10px 0px;
        z-index: 1;

        ul {
          li {
            .menuItem-text {
              margin-left: 35px !important;
              font-size: 16px;
              line-height: 24px;
              font-weight: 600;
            }
          }
        }

        .x-btn {
          display: block;
          width: 16.67px;
          height: 16.67px;
          position: absolute;
          right: 16px;
          top: 16px;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .right-x-btn {
          width: 12px;
          height: 12px;
          position: absolute;
          right: 13px;
          top: 10px;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          display: none;
        }

        .primary-menu-options {
          margin-top: 56px;
          .favourites-icon {
            img {
              width: 11px;
              height: 11px;
            }
          }
        }
        .gap-top{
          margin-top: 0px !important;
        }

        .creative-user-options {
          h4 {
            margin-left: 25px;
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 24px;
          }
          ul {
            li {
              span {
                margin-left: 25px !important;
              }
            }
          }
        }

        .we-are-online {
          margin-left: 25px;

          h4 {
            font-size: 16px;
            margin-bottom: 24px;
          }

          .steps {
            width: 100px;

            p {
              font-size: 12px;
              width: 23.5px;
              height: 23.5px;
              border: 1px solid white;
              line-height: 16px;
              font-weight: 500;
            }
          }
        }

        ul {
          row-gap: 24px;
          margin-top: 1rem;
          li {
            font-size: 10px;

            .active {
              width: 75px;
            }

            .menuItem-text {
              margin-left: 30px !important;
            }

            .menuItem-text.isActive {
              margin-left: 85px !important;
            }
          }
        }
        button {
          width: 100%;
          height: 48px;
          font-size: 12px;
          line-height: 14px;
          font-weight: 700;
        }
      }
      .noflex {
        gap: 30px;
        // width: 310px !important;
        padding: 16px 16px 0 32px;
      }

      .leftbar-2-open {
        animation: openLeftbar 0.3s linear forwards;
      }
      .leftbar-2-close {
        animation: closeLeftbar 0.3s linear forwards;
        overflow: hidden;
      }
    }

    .rightbar {
      height: calc(100vh - 26px);
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 29px;
      z-index: 1;

      .nav-item {
        height: 75px;
      }

      .store-nav:nth-child(1) {
        gap: 10px;
        img {
          width: 16px;
          height: 16px;
        }
        p {
          font-size: 11px;
        }
      }
      .store-nav:nth-child(2) {
        gap: 10px;
        img {
          width: 16px;
          height: 16px;
        }
        p {
          font-size: 10px;
        }
        h3 {
          margin-top: 2px;
          font-size: 12px;
        }
      }

      @keyframes openRightbar {
        0% {
          width: 0;
          opacity: 0;
        }
        100% {
          width: 150px;
        }
      }
      @keyframes closeRightbar {
        0% {
          width: 150px;
        }
        100% {
          width: 0;
          opacity: 0;
        }
      }
    }
    .right-2 {
      display: none;
    }
  }
}
