.navbar-container {
  height: 100vh;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar-container .leftbar {
  height: 100%;
  display: flex;
}
.navbar-container .leftbar .leftbar-1 {
  height: 100%;
  width: 160px;
  border-right: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navbar-container .leftbar .leftbar-1 .middle-left {
  position: relative;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper {
  display: grid;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper .menu-option-box {
  width: 156px;
  height: 140px;
  background: #4f9098;
  display: grid;
  align-content: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper .menu-option-box p {
  font-size: 22px;
  line-height: 30px;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper .menu-option-box span {
  font-size: 14px;
  line-height: 30px;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper .active-menu {
  background-color: #f19942;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-sub-men {
  position: absolute;
  width: 156px;
  height: 624px;
  background-color: #f19942;
  left: 161px;
  top: -73px;
  display: grid;
  gap: 20px;
  align-content: center;
  padding: 20px;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-sub-men .sub-name {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.navbar-container .leftbar .leftbar-1 .middle-left .left-sub-men .sub-name:hover {
  border-bottom: 1px solid #fff;
  transition: border 0.2s ease-in;
}
.navbar-container .leftbar .leftbar-1 > div:first-child {
  margin-top: 54px;
  cursor: pointer;
}
.navbar-container .leftbar .leftbar-1 > div:last-child {
  margin-bottom: 40px;
}
.navbar-container .leftbar .leftbar-1 .dot-icons-list {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-container .leftbar .leftbar-1 .dot-icons-list div {
  width: 11px;
  height: 11px;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
.navbar-container .leftbar .leftbar-1 .dot-icons-list .active-circle {
  width: 11px;
  height: 11px;
  border: 1px solid #35363a;
  border-radius: 50%;
  background-color: #35363a;
  box-sizing: border-box;
  cursor: pointer;
}
@keyframes openLeftbar {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 270px;
  }
}
@keyframes closeLeftbar {
  0% {
    width: 270px;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
.navbar-container .leftbar .leftbar-2 {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 57px 0px;
}
.navbar-container .leftbar .leftbar-2 ul li .menuItem-text {
  margin-left: 45px; /* Default margin */
}
.navbar-container .leftbar .leftbar-2 ul li .menuItem-text.isActive {
  margin-left: 95px; /* Applied when isActive is true */
}
.navbar-container .leftbar .leftbar-2 .x-btn {
  display: none;
}
.navbar-container .leftbar .leftbar-2 h3 {
  margin-left: 45px;
  font-size: 20px;
  font-weight: 500;
}
.navbar-container .leftbar .leftbar-2 .primary-menu-options .favourites-icon {
  position: relative;
}
.navbar-container .leftbar .leftbar-2 .primary-menu-options .favourites-icon span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 8px;
}
.navbar-container .leftbar .leftbar-2 .creative-user-options h4 {
  margin-left: 45px;
  margin-bottom: 34px;
  font-size: 16px;
  font-weight: 400;
}
.navbar-container .leftbar .leftbar-2 .we-are-online {
  margin-left: 45px;
}
.navbar-container .leftbar .leftbar-2 .we-are-online h4 {
  margin-bottom: 34px;
  font-size: 16px;
  font-weight: 400;
}
.navbar-container .leftbar .leftbar-2 .we-are-online .steps {
  width: 133px;
  display: flex;
  justify-content: space-between;
}
.navbar-container .leftbar .leftbar-2 .we-are-online .steps p {
  font-size: 12px;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container .leftbar .leftbar-2 ul {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}
.navbar-container .leftbar .leftbar-2 ul li {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.navbar-container .leftbar .leftbar-2 ul li .active {
  position: absolute;
  left: 0;
  width: 75px;
  border: 1px solid white;
  top: 50%;
  transition: border 0.5s ease-out;
}
.navbar-container .leftbar .leftbar-2 ul li:hover {
  font-weight: 600;
}
.navbar-container .leftbar .leftbar-2 button {
  width: 180px;
  height: 55px;
  color: #fff;
  background-color: #f19942;
  border: none;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.navbar-container .leftbar .noflex {
  justify-content: unset;
  gap: 58px;
}
.navbar-container .leftbar .leftbar-2-open {
  animation: openLeftbar 0.3s linear forwards;
}
.navbar-container .leftbar .leftbar-2-close {
  animation: closeLeftbar 0.3s linear forwards;
  overflow: hidden;
}
.navbar-container .rightbar {
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.navbar-container .rightbar .nav-item {
  height: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.navbar-container .rightbar .store-nav:nth-child(1) {
  background-color: #35363a;
  gap: 20px;
}
.navbar-container .rightbar .store-nav:nth-child(1) img {
  width: 35px;
  height: 36px;
}
.navbar-container .rightbar .store-nav:nth-child(1) p {
  font-size: 19px;
}
.navbar-container .rightbar .store-nav:nth-child(2) {
  background-color: var(--primary-color);
  gap: 20px;
}
.navbar-container .rightbar .store-nav:nth-child(2) img {
  width: 41px;
  height: 38px;
}
.navbar-container .rightbar .store-nav:nth-child(2) p {
  font-size: 14px;
}
.navbar-container .rightbar .store-nav:nth-child(2) h3 {
  margin-top: 5px;
  font-size: 22px;
}
.navbar-container .rightbar .collection-nav {
  position: relative;
  overflow: hidden;
}
.navbar-container .rightbar .collection-nav img {
  margin-left: auto;
  height: 100%;
}
.navbar-container .rightbar .collection-nav p {
  font-size: 14px;
}
.navbar-container .rightbar .collection-nav h3 {
  margin-top: 5px;
  font-size: 22px;
}
.navbar-container .rightbar .collection-nav:nth-child(3) {
  margin-top: auto;
  background-color: var(--primary-color);
}
.navbar-container .rightbar .collection-nav:nth-child(4) {
  background-color: #254549;
}
.navbar-container .rightbar .collection-nav:nth-child(5) {
  background-color: #254549;
}
.navbar-container .rightbar .active-right-nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: rgba(241, 153, 66, 0.7);
  animation: flipAnimation 0.9s forwards;
}
.navbar-container .rightbar .de-active-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 153, 66, 0.7);
  animation: flipLeft 0.9s forwards;
}
@keyframes flipAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes flipLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 1715px) {
  .navbar-container .leftbar .leftbar-1 {
    width: 100px;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left {
    position: relative;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper {
    display: grid;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper .menu-option-box {
    width: 98px;
    height: 90px;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper .menu-option-box p {
    font-size: 15px;
    line-height: 10px;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left .left-menu-wrapper .menu-option-box span {
    font-size: 11px;
    line-height: 20px;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left .left-sub-men {
    height: 424px;
    left: 101px;
    top: -65px;
    gap: 15px;
    padding: 20px;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left .left-sub-men .sub-name {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
  }
  .navbar-container .leftbar .leftbar-1 > div:first-child img {
    width: 20px;
  }
  .navbar-container .leftbar .leftbar-1 .dot-icons-list {
    height: 145px;
  }
  @keyframes openLeftbar {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 200px;
    }
  }
  @keyframes closeLeftbar {
    0% {
      width: 200px;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  .navbar-container .leftbar .leftbar-2 h3 {
    margin-left: 30px;
    font-size: 17px;
  }
  .navbar-container .leftbar .leftbar-2 .we-are-online {
    margin-left: 45px;
  }
  .navbar-container .leftbar .leftbar-2 ul {
    row-gap: 20px;
  }
  .navbar-container .leftbar .leftbar-2 ul li {
    font-size: 14px;
  }
  .navbar-container .leftbar .leftbar-2 ul li .active {
    width: 55px;
  }
  .navbar-container .leftbar .leftbar-2 ul li div {
    width: 40px;
  }
  .navbar-container .leftbar .leftbar-2 ul li .menuItem-text {
    margin-left: 45px; /* Default margin */
  }
  .navbar-container .leftbar .leftbar-2 ul li .menuItem-text.isActive {
    margin-left: 60px; /* Applied when isActive is true */
  }
  .navbar-container .rightbar {
    width: 240px;
  }
  .navbar-container .rightbar .nav-item {
    height: 105px;
  }
  .navbar-container .rightbar .store-nav:nth-child(1) img {
    width: 25px;
    height: 25px;
  }
  .navbar-container .rightbar .store-nav:nth-child(1) p {
    font-size: 15px;
  }
  .navbar-container .rightbar .store-nav:nth-child(2) img {
    width: 25px;
    height: 25px;
  }
  .navbar-container .rightbar .store-nav:nth-child(2) p {
    font-size: 13px;
  }
  .navbar-container .rightbar .store-nav:nth-child(2) h3 {
    font-size: 14px;
  }
  .navbar-container .rightbar .collection-nav p {
    font-size: 12px;
  }
  .navbar-container .rightbar .collection-nav h3 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
    height: 72px;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  .navbar-container .leftbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar-container .leftbar .leftbar-1 {
    display: none;
  }
  .navbar-container .leftbar .leftbar-1 .middle-left {
    position: relative;
  }
  @keyframes openLeftbar {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 310px;
    }
  }
  @keyframes closeLeftbar {
    0% {
      width: 310px;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  .navbar-container .leftbar .leftbar-2 {
    position: absolute;
    height: 100vh;
    padding: 10px 0px;
    z-index: 1;
  }
  .navbar-container .leftbar .leftbar-2 ul li .menuItem-text {
    margin-left: 35px !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .navbar-container .leftbar .leftbar-2 .x-btn {
    display: block;
    width: 16.67px;
    height: 16.67px;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
  .navbar-container .leftbar .leftbar-2 .x-btn img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .navbar-container .leftbar .leftbar-2 .right-x-btn {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 13px;
    top: 10px;
    cursor: pointer;
  }
  .navbar-container .leftbar .leftbar-2 .right-x-btn img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .navbar-container .leftbar .leftbar-2 h3 {
    display: none;
  }
  .navbar-container .leftbar .leftbar-2 .primary-menu-options {
    margin-top: 56px;
  }
  .navbar-container .leftbar .leftbar-2 .primary-menu-options .favourites-icon img {
    width: 11px;
    height: 11px;
  }
  .navbar-container .leftbar .leftbar-2 .gap-top {
    margin-top: 0px !important;
  }
  .navbar-container .leftbar .leftbar-2 .creative-user-options h4 {
    margin-left: 25px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
  }
  .navbar-container .leftbar .leftbar-2 .creative-user-options ul li span {
    margin-left: 25px !important;
  }
  .navbar-container .leftbar .leftbar-2 .we-are-online {
    margin-left: 25px;
  }
  .navbar-container .leftbar .leftbar-2 .we-are-online h4 {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .navbar-container .leftbar .leftbar-2 .we-are-online .steps {
    width: 100px;
  }
  .navbar-container .leftbar .leftbar-2 .we-are-online .steps p {
    font-size: 12px;
    width: 23.5px;
    height: 23.5px;
    border: 1px solid white;
    line-height: 16px;
    font-weight: 500;
  }
  .navbar-container .leftbar .leftbar-2 ul {
    row-gap: 24px;
    margin-top: 1rem;
  }
  .navbar-container .leftbar .leftbar-2 ul li {
    font-size: 10px;
  }
  .navbar-container .leftbar .leftbar-2 ul li .active {
    width: 75px;
  }
  .navbar-container .leftbar .leftbar-2 ul li .menuItem-text {
    margin-left: 30px !important;
  }
  .navbar-container .leftbar .leftbar-2 ul li .menuItem-text.isActive {
    margin-left: 85px !important;
  }
  .navbar-container .leftbar .leftbar-2 button {
    width: 100%;
    height: 48px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }
  .navbar-container .leftbar .noflex {
    gap: 30px;
    padding: 16px 16px 0 32px;
  }
  .navbar-container .leftbar .leftbar-2-open {
    animation: openLeftbar 0.3s linear forwards;
  }
  .navbar-container .leftbar .leftbar-2-close {
    animation: closeLeftbar 0.3s linear forwards;
    overflow: hidden;
  }
  .navbar-container .rightbar {
    height: calc(100vh - 26px);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 29px;
    z-index: 1;
  }
  .navbar-container .rightbar .nav-item {
    height: 75px;
  }
  .navbar-container .rightbar .store-nav:nth-child(1) {
    gap: 10px;
  }
  .navbar-container .rightbar .store-nav:nth-child(1) img {
    width: 16px;
    height: 16px;
  }
  .navbar-container .rightbar .store-nav:nth-child(1) p {
    font-size: 11px;
  }
  .navbar-container .rightbar .store-nav:nth-child(2) {
    gap: 10px;
  }
  .navbar-container .rightbar .store-nav:nth-child(2) img {
    width: 16px;
    height: 16px;
  }
  .navbar-container .rightbar .store-nav:nth-child(2) p {
    font-size: 10px;
  }
  .navbar-container .rightbar .store-nav:nth-child(2) h3 {
    margin-top: 2px;
    font-size: 12px;
  }
  @keyframes openRightbar {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 150px;
    }
  }
  @keyframes closeRightbar {
    0% {
      width: 150px;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  .navbar-container .right-2 {
    display: none;
  }
}/*# sourceMappingURL=Sidebar.css.map */