@import "../../assets/Variables/Variables.scss";

.mobile-cart-btns-wrapper {
  display: none;
}
.construct-wrapper {
  padding: 44.4px 0 0 65.4px;
  width: 100%;

  .mobile-category-wrappers {
    display: none;
  }
  .preview-button {
    display: none;
  }

  .top-wrapper {
    .products-header-text {
      p {
        font-family: $primary-font;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        color: $dark-color;
      }
    }
  }
  .construct-top-menu {
    display: none;
  }

  .constructor-description {
    display: grid;
    grid-template-columns: 555px auto;
    margin-top: 40px;
    gap: 50px;
    .left-constructor {
      .constructor-img-wrapper {
        width: 100%;
        padding: 0 30px;
        position: relative;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
        .design-div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .preview-div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          img {
            width: 25rem;
            height: 100%;
          }
        }
      }
      .pagination-box {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .right-constructor {
      .constructor-details {
        max-width: 650px;
        h3 {
          font-family: $primary-font;
          font-size: 40px;
          line-height: 60px;
          font-weight: 500;
          color: $dark-color;
        }
        > p {
          font-family: $primary-font;
          font-size: 17px;
          line-height: 32px;
          font-weight: 400;
          color: $dark-color;
          margin-top: 15px;
        }

        .color-section {
          margin-top: 30px;

          h4 {
            font-family: $primary-font;
            font-size: 26px;
            line-height: 36px;
            font-weight: 500;
            color: $dark-color;
          }
          p {
            font-family: $primary-font;
            font-size: 12px;
            line-height: 24px;
            font-weight: 400;
            color: $dark-color;
            margin-top: 14px;
          }
          .colors-row {
            height: 27px;
            display: flex;
            margin-top: 18px;
            gap: 10px;
            .color-block {
              width: 24px;
              height: 24px;
              cursor: pointer;
              transition: width 0.5s ease-in-out;
            }
            .color-selected {
              border: 1px solid $green-color;
            }
            .color-block:hover {
              width: 120px;
            }
          }
        }
        .divider {
          height: 1px;
          background-color: #7070707c;
          margin: 15px 0;
        }

        .design-section {
          h4 {
            font-family: $primary-font;
            font-size: 26px;
            line-height: 36px;
            font-weight: 500;
            color: $dark-color;
          }
          p {
            font-family: $primary-font;
            font-size: 12px;
            line-height: 24px;
            font-weight: 400;
            color: $dark-color;
            margin-top: 14px;
          }

          .images-row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 21px;
            .design-image-wrapper {
              width: 80px;
              height: 80px;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .image-selected {
              background-color: #64626a;
            }
          }
        }
        .preview-section {
          h4 {
            font-family: $primary-font;
            font-size: 26px;
            line-height: 36px;
            font-weight: 500;
            color: $dark-color;
          }
          p {
            font-family: $primary-font;
            font-size: 12px;
            line-height: 24px;
            font-weight: 400;
            color: $dark-color;
            margin-top: 14px;
          }
          .images-row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 21px;
            .preview-image-wrapper {
              width: 80px;
              height: 80px;
              background-color: #fff;
              cursor: pointer;
              border: 1px solid transparent;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .prev-selected {
              background-color: #64626a;
            }
          }
        }
      }
      .mobile-pagination-box {
        display: none;
      }
    }
  }
}
.add-design-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  div {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #8d8e96;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .left-add {
    padding: 5px;
  }
  .add {
    padding: 5px;
    width: 32px;
    height: 32px;
  }
  .right-add {
    padding: 5px;
  }
}

@media (max-width: 1715px) {
  .construct-wrapper {
    padding: 28px 28px;
    padding-bottom: 0;
    .top-wrapper {
      .products-header-text {
        p {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    .constructor-description {
      grid-template-columns: 380px auto;
      gap: 20px;
      margin-top: 29px;
      .left-constructor {
        .constructor-img-wrapper {
          padding: 0;
        }
      }
      .right-constructor {
        .constructor-details {
          max-width: 576px;
          h3 {
            font-size: 35px;
            line-height: 40px;
          }
          > p {
            font-size: 15px;
            line-height: 25px;
            margin-top: 10px;
          }

          .color-section {
            margin-top: 25px;

            h4 {
              font-size: 24px;
              line-height: 20px;
            }
            p {
              margin-top: 6px;
              font-size: 15px;
              line-height: 35px;
            }
            .colors-row {
              margin-top: 11px;
            }
          }
          .divider {
            margin: 16px 0;
          }

          .design-section {
            p {
              margin-top: 14px;
            }

            .images-row {
              gap: 11px;
              margin-top: 11px;
              .design-image-wrapper {
                width: 60px;
                height: 60px;
              }
            }
          }
          .preview-section {
            h4 {
              font-size: 24px;
              line-height: 20px;
            }
            .images-row {
              gap: 11px;
              margin-top: 21px;
              .preview-image-wrapper {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .construct-wrapper {
    padding: 20px 0 0 15px;
    .top-wrapper {
      .products-header-text {
        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .constructor-description {
      grid-template-columns: 290px auto;
      .right-constructor {
        .constructor-details {
          max-width: 325px;
          h3 {
            font-size: 22px;
            line-height: 25px;
          }
          > p {
            font-size: 13px;
            line-height: 21px;
          }

          .color-section {
            h4 {
              font-size: 16px;
              line-height: 16px;
            }
            .colors-row {
              .color-block {
                width: 16px;
                height: 16px;
              }
            }
          }
          .divider {
            margin: 12px 0;
          }

          .design-section {
            h4 {
              font-size: 16px;
              line-height: 16px;
            }
            p {
              margin-top: 7px;
            }

            .images-row {
              margin-top: 5px;
              .design-image-wrapper {
                width: 40px;
                height: 40px;
              }
            }
          }
          .preview-section {
            h4 {
              font-size: 16px;
              line-height: 16px;
            }
            p {
              margin-top: 7px;
            }
            .images-row {
              margin-top: 5px;
              .preview-image-wrapper {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .construct-wrapper {
    padding: 0 0 70px;

    .construct-top-menu {
      display: flex;
      height: 72px;
      width: 100%;

      .nav-item {
        width: 100%;
        height: 72px;
      }
      .collection-nav {
        position: relative;
        overflow: hidden;
      }
      .collection-nav p {
        font-size: 10px !important;
        font-weight: 400;
        line-height: 14px;
        font-family: "Montserrat", sans-serif;
      }
      .collection-nav img {
        margin: auto;
      }
      .collection-nav div {
        padding: 0 14px 0 8px;
      }
      .collection-nav:nth-child(1) {
        margin-top: auto;
        background-color: var(--primary-color);
      }
      .collection-nav:nth-child(2) {
        background-color: #254549;
      }
      .collection-nav:nth-child(3) {
        background-color: #254549;
      }

      .active-right-nav::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background-color: rgba(241, 153, 66, 0.7);
        animation: flipAnimation 0.9s forwards;
      }
      .de-active-right::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(241, 153, 66, 0.7);
        animation: flipLeft 0.9s forwards;
      }
      @keyframes flipAnimation {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
      @keyframes flipLeft {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(100%);
        }
      }
    }

    .mobile-category-wrappers {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
      button {
        border: none;
        border-radius: 30px;
        cursor: pointer;
        width: 100%;
        height: 32px;
        font-family: $primary-font;
        padding: 5px;
      }
      .active-mobile-cat-btn {
        color: #fff;
        background-color: #f19942;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
      }
      .deActive-mobile-cat-btn {
        color: #394549;
        background-color: transparent;
        font-weight: 400;
      }
    }
    .preview-button {
      margin-top: 1rem;
      margin-left: auto;
      background-color: #fff;
      border-radius: 30px;
      width: 92px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      img {
        width: 20px;
      }
      span {
        font-family: $primary-font;
        font-size: 10px;
        line-height: 14px;
        font-weight: 400;
      }
    }

    .top-wrapper {
      display: none;
    }
    .constructor-description {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      .left-constructor {
        display: grid;
        justify-content: center;
        .constructor-img-wrapper {
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .pagination-box {
          display: none;
        }
      }
      .right-constructor {
        .constructor-details {
          h3 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
          }
          > p {
            font-size: 14px;
            line-height: 24px;
          }
          .color-section {
            h4 {
              font-size: 16px;
              line-height: 24px;
              font-weight: 600;
            }
            p {
              margin-top: 8px;
              font-size: 12px;
              line-height: 16px;
            }
            .colors-row {
              margin-top: 1rem;
              gap: 8px;
              .color-block:hover {
                width: 90px;
              }
            }
          }
          .design-section {
            h4 {
              font-size: 16px;
              line-height: 24px;
              font-weight: 600;
            }
            p {
              margin-top: 8px;
              font-size: 12px;
              line-height: 16px;
            }

            .images-row {
              margin-top: 1rem;
              .design-image-wrapper {
                width: 56px;
                height: 56px;
                img {
                }
              }
              .image-selected {
              }
            }
          }
          .preview-section {
            display: none;
          }
        }
        .mobile-pagination-box {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 1.5rem;
        }
      }
    }
  }
  .mobile-cart-btns-wrapper {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
