@import "../../assets/Variables/Variables.scss";

.back-pagination {
  display: flex;
  gap: 16px;
  cursor: pointer;
  img {
    width: 35px;
  }
  .name-wrapper {
    span {
      font-family: $primary-font;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: $dark-color;
    }
  }
}

@media (max-width: 1715px) {
  .back-pagination {
    cursor: pointer;
    img {
      width: 35px;
    }
    .name-wrapper {
      span {
        font-size: 14px;
      }
    }
  }
}
